// Variables and mixins
@import "node_modules/spectre.css/src/variables";
@import "node_modules/spectre.css/src/mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "node_modules/spectre.css/src/normalize";
@import "node_modules/spectre.css/src/base";

// Elements
@import "node_modules/spectre.css/src/typography";
// @import "node_modules/spectre.css/src/asian";
// @import "node_modules/spectre.css/src/tables";
@import "node_modules/spectre.css/src/buttons";
// @import "node_modules/spectre.css/src/forms";
// @import "node_modules/spectre.css/src/labels";
// @import "node_modules/spectre.css/src/codes";
// @import "node_modules/spectre.css/src/media";

// Layout
@import "node_modules/spectre.css/src/layout";
// @import "node_modules/spectre.css/src/hero";
// @import "node_modules/spectre.css/src/navbar";

// Components
// @import "node_modules/spectre.css/src/accordions";
// @import "node_modules/spectre.css/src/avatars";
// @import "node_modules/spectre.css/src/badges";
// @import "node_modules/spectre.css/src/breadcrumbs";
// @import "node_modules/spectre.css/src/bars";
// @import "node_modules/spectre.css/src/cards";
// @import "node_modules/spectre.css/src/chips";
// @import "node_modules/spectre.css/src/dropdowns";
// @import "node_modules/spectre.css/src/empty";
// @import "node_modules/spectre.css/src/menus";
@import "node_modules/spectre.css/src/modals";
// @import "node_modules/spectre.css/src/navs";
// @import "node_modules/spectre.css/src/pagination";
// @import "node_modules/spectre.css/src/panels";
// @import "node_modules/spectre.css/src/popovers";
// @import "node_modules/spectre.css/src/steps";
// @import "node_modules/spectre.css/src/tabs";
// @import "node_modules/spectre.css/src/tiles";
// @import "node_modules/spectre.css/src/toasts";
@import "node_modules/spectre.css/src/tooltips";

// Utility classes
@import "node_modules/spectre.css/src/animations";
@import "node_modules/spectre.css/src/utilities";



body {
    background-image: url('../bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#header {
    // border-bottom: 2px solid white;
    margin-top: 1em;
    img {
        max-width: 95%;
        max-height: 6em;
    }
}

#header {
    h1 {
        margin-bottom: 0;
    }
    h3 {
        font-size: 0.8em;
    }
}

.day {
    margin-bottom: 1em;
    color: black;
    .header {
        background-color: black;
        color: white;

        strong {
            font-size: 20px;
            padding: 0 20px 0 5px;
        }
    }
    ul {
        margin: 0;
        list-style: none;
        li {
            margin: 0;
        }
    }
    .entry {
        .times {
            background-color:  rgba(255,255,255,0.7);
            color: #555;
            display: flex;
            & > div {
                position: relative;
                border-left: 1px solid #555;
                margin-left: 20%;
            }
            & > div:before {
                content: '';
                position: absolute;
                display: block;
                width: 15px;
                top: 17px;
                // height: 1px;
                border-bottom: 1px solid #555;
            }
            & > div:after {
                content: '';
                position: absolute;
                display: block;
                left: 15px;
                height: 8px;
                top: 13px;
                // height: 1px;
                border-right: 1px solid #555;
            }
            
            .times-content {
                padding: 5px 3px 5px 20px;
                font-weight: bold;
                color: #555;
                small {
                    display: block;
                }
            }
        }
        .icons {
            float: right;
            color: #aaa;
        }
        .content {
            background-color: white;
            padding: 0.5em 1em 1em 0.7em;

            h4 {
                font-size: 16px;
                font-weight: 900;
            }
            h4 a {
                color: black; 
            }
            .location {
                color: #999;
                font-size: 12px;
                strong {
                    color: #66b;
                }
                
            }
            .teaser {
                margin-top: -0.3em;
                margin-bottom: 0.3em;
                font-size: 0.8em;
            }
        }
        .seperator {
            border-bottom: 1px dotted #999;
            margin-top: 1em;
            margin-bottom: -0.5em;
        }
    }
}
.entry .hover {
    display: none;
}
.entry:hover .hover {
    display: initial;
}

.tooltip::after {
    text-overflow: initial;
}

.modal-body {
    color: #aaa;
}

.infobox {
    background-color: rgba(255,255,255,0.7);
    color: black;
    // .header {
    //     background-color: black;
    //     color: white;
    //     font-size: 20px;
    //     padding: 0 20px 0 5px;
    // }
    .content {
        padding: 1em;
        font-size: 0.8em;
    }
    a {
        color: #66b;
    }
}

pre {
    font-size: 0.6em;
}