<template>
    <div>
        <div class="row main">
            <div v-if="isLoading" class="col-12">Loading...</div>
            <div v-if="isOffline" class="col-12">
                <div class="alert alert-danger m-1" role="alert">Fehler: Backend ist derzeit nicht erreichbar</div>
            </div>
            <div v-if="!isLoading" class="col-2">
                <group-list :groups="groups" @openGroup="openGroup" :branch="activeBranch"/>
            </div>
            <div v-if="!isLoading" class="col-3">
                <group-form :group="activeGroup" @submit="upsertGroup" />
            </div>       
            <div v-if="!isLoading" class="col-2">
                <event-list :events="groupEvents" :isAddingEnabled="!!activeGroup" @openEvent="openEvent" />
            </div>       
            <div v-if="!isLoading" class="col-3">
                <event-form v-if="!!activeGroup" :event="activeEvent" @transformAndExclude="transformAndExclude" @submit="upsertEvent"/>
            </div>       
            <div v-if="!isLoading" class="col-2">
                <commits-list :commits="commits" @submit="createMergeRequest" />
            </div>        
        </div>

        <b-modal ref="commitMessageModel" title="Änderungen" @ok="submitCommitMessage">
            <form @submit.prevent="submitCommitMessage">
                <div class="form-group">
                    <label for="commitMessage">Wie würdest du deine Änderungen benennen?</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><small>{{ commitMessagePrefix }}</small></div>
                        </div>
                        <input v-model="commitMessageInput" type="text" class="form-control" id="commitMessage" placeholder="zB Beschreibung geändert"  required>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Dies ist sehr hilfreich um Änderungen schnell zu verstehen</small>
                </div>
            </form>
        </b-modal>


        <b-modal ref="successModal" title="Erfolgreich" :ok-only="true">
            <div class="alert alert-success">
                <b>Dein Merge Request wurde erfolgreich abgeschickt!</b>
            </div>
            <p>Du kannst unter folgendem Link den aktuellen Status und eine eventuell entstehende Diskussion einsehen und auch daran teil haben:</p>
            <a :href="mrLink" class="ml-2">{{ mrLink }}</a> 
            <p class="mt-3">Im Panel siehst du nun wieder den Stand vor den Änderungen. Dies ist normal. Du kannst von hier aus, wenn du magst, auch mit weiteren Änderungen fortfahren.</p>
        </b-modal>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import bModal from 'bootstrap-vue/es/components/modal/modal';
import GroupForm from './GroupForm.vue'
import GroupList from './GroupList.vue'
import EventList from './EventList.vue'
import EventForm from './EventForm.vue'
import CommitsList from './CommitsList.vue'
// import { Event, Group } from '../../core/lib/types'
import * as api from './api'
import { setTimeout } from 'timers';


export default Vue.extend({
    // components: { GroupForm },
    components: { GroupForm, GroupList, bModal, CommitsList, EventList, EventForm },
    data() {
        return {
            isLoading: true,
            isOffline: false,
            groups: [],
            groupEvents: [],
            commits: [],
            activeGroupKey: false,
            activeBranch: 'master',
            activeEventId: false,
            commitMessageInput: '',
            commitMessagePrefix: '',
            mrLink: ''
        }
    },
    computed: {
        activeGroup: function() {
            return this.groups.find(group => group.key == this.activeGroupKey)
        },
        activeEvent: function() {
            return this.groupEvents.find(event => event.id == this.activeEventId)
        }
    },
    methods: {
        async loadGroups() {
            this.groups = await api.getGroups(this.activeBranch)
        },
        async loadCommits() {
            this.commits = await api.getLog(this.activeBranch)
        },
        async loadEvents() {
            if(!this.activeGroupKey) {
                this.groupEvents = []
                return
            }
            this.groupEvents = await api.getGroupEvents(this.activeBranch, this.activeGroupKey)
        },
        async openGroup(key) {
            if(key == this.activeGroupKey) return
            this.activeGroupKey = key
            this.groupEvents = []
            this.activeEventId = null
            await this.loadEvents()
        },
        async openEvent(id) {
            this.activeEventId = id
        },
        async upsertGroup(groupData) {
            let commitMessage = await this.promptCommitMessage(`[${groupData.key}]`)
            await this.ensureWriteableBranch()
            await api.upsertGroup(this.activeBranch, groupData, commitMessage)
            await this.loadGroups()
            await this.loadCommits()
            await this.loadEvents()
        },
        async upsertEvent(event) {
            let commitMessage = await this.promptCommitMessage(`[${this.activeGroup.key}]`)
            await this.ensureWriteableBranch()
            await api.upsertEvent(this.activeBranch, this.activeGroupKey, event, commitMessage)
            await this.loadCommits()
            await this.loadEvents()
        },
        async promptCommitMessage(prefix) {
            this.commitMessageInput = ''
            this.commitMessagePrefix = prefix
            this.$refs.commitMessageModel.show()
            setTimeout( () => {
                document.getElementById('commitMessage').focus()
            }, 100)
            let commitMessage = await new Promise( (resolve) => {
                this._commitModalSubmitResolver = resolve
            })
            return prefix + ' ' + commitMessage
        },
        submitCommitMessage(e) {
            if(!this.commitMessageInput.trim()) e.preventDefault();
            this._commitModalSubmitResolver(this.commitMessageInput)
            this.$refs.commitMessageModel.hide()
            this.commitMessageInput = ''
        },
        async ensureWriteableBranch() {
            if(this.activeBranch === 'master') {
                this.activeBranch = (await api.fork()).newBranch
                this.commits = []
            }
        },
        
        async transformAndExclude(eventId) {
            await api.eventTransform2Manual(this.activeBranch, this.activeGroupKey, eventId);
            await this.loadGroups()
            await this.loadCommits()
            await this.loadEvents()
        },
        async createMergeRequest(message, author, email) {
            const res = await api.createMergeRequest(this.activeBranch, message, author, email)
            this.mrLink = res.link
            this.$refs.successModal.show()
            this.activeBranch = 'master'
            this.commits = []
            await this.loadGroups()
            await this.loadEvents()
        }
    },
    async created() {
        try {
            await api.getStatus();
        } catch(err) {
            this.isLoading = false
            this.isOffline = true
            return
        }
        await this.loadGroups()
        await this.loadCommits()
        await this.loadEvents()
        this.isLoading = false
    }
})
</script>
<style>
.main {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 0.7em;
}
.main > div {
    border-right: 1px solid;
    padding-right: 0;
    overflow-y: auto;
    height: 100%;
    padding-left: 0;
}
.main:first-child {
    padding-left: 15px !important;
}
</style>
