<template>
    <div>
        <h4 class="container pt-1">
            Änderungen
            <button v-if="commits.length" class="btn btn-sm btn-success" @click.prevent="openModal">Abschicken</button>
        </h4>
        <div v-if="!commits.length" class="container">
            <div class="alert alert-info">
                Du hast bisher noch keine Änderungen abgeschickt
            </div>
        </div>
        <div class="list-group">

            <a v-for="commit in commits" :key="commit.hash" class="list-group-item">
                {{ commit.message }}
                <div class="text-muted">{{ commit.hash.slice(0, 16) }}</div>
            </a>
        </div>
        <b-modal ref="mergeModal" title="Merge Request" @ok.prevent="submit">
            <form @submit.prevent="submit" ref="form">
                <div class="form-group">
                    <div class="alert alert-info">
                        Du bist dabei einen sogenannten <i>Merge Request</i> zu erstellen. Dies ist eine Anfrage mit welcher du darum bittest, dass wir deine gemachten Änderungen mit in den Hauptzweig aufnehmen, welcher schlussendlich auf der Webseite angezeigt wird.
                    </div>
                    <label for="message">Wie würdest du deine Änderungen benennen?</label>
                    <div class="input-group mb-2">
                        <input v-model="message" type="text" class="form-control" id="message" placeholder="zB Beschreibung des Kanthauses geändert"  required>
                    </div>
                    <label for="name">Dein Name</label>
                    <div class="input-group mb-2">
                        <input v-model="author" type="text" class="form-control" id="name"  required>
                    </div>
                    <label for="email">Deine E-Mail</label>
                    <div class="input-group mb-2">
                        <input v-model="email" type="email" class="form-control" id="email" required>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Damit wir dich/euch bei Rückfragen auch erreichen können</small>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import bModal from 'bootstrap-vue/es/components/modal/modal';

export default Vue.extend({
    components: {
        bModal,
    },
    props: {
        commits: Array
    },
    data() {
        return {
            message: '',
            author: '',
            email: '',
        }
    },
    methods: {
        openModal(group) {
            if(!this.commits.length) return
            if(this.commits.lengths == 1) this.message = this.commits[0].message
            else this.message = ''
            this.$refs.mergeModal.show()
        },
        submit() {
            if (!this.$refs.form.checkValidity()) {
                this.$refs.form.reportValidity()
                return
            }
            if(!this.author) return
            if(!this.email) return
            this.$refs.mergeModal.hide()
            this.$emit('submit', this.message, this.author, this.email)
        }
    }
})
</script>
