<template>
    <div>
        <h4 class="container pt-1">
            Veranstaltungen
            <button v-if="isAddingEnabled" class="btn btn-sm btn-success" @click="open(null)">+</button>
        </h4>
        <div v-if="!this.events.length" class="container">
            <div class="alert alert-light" role="alert">
                Noch keine Veranstaltungen in dieser Gruppe
            </div>
        </div>
        <div class="list-group">
            <a v-for="event in eventsSorted" :key="event.id" class="list-group-item list-group-item-action flex-column align-items-start" @click="open(event.id)">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1 text-truncate">
                        <a :href="event.link" target="_blank">&#128279;</a>
                        {{ event.title }}
                    </p>
                    <small class="float-right text-nowrap">
                        <span v-if="event.isCrawled"><i class="fa fa-magic" /></span>
                        <span v-if="event.recurring"><i class="fa fa-repeat" /></span>
                    </small>
                </div>
                <small>{{ event.start }}</small>
            </a>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import moment from 'moment'
moment.locale('de')

export default Vue.extend({
    props: {
        events: Array,
        isAddingEnabled: Boolean
    },
    computed: {
        eventsSorted() {
            return this.events.sort( (a,b) => {
                if(a.recurring && b.recurring) return 0
                if(a.recurring && !b.recurring) return -1
                else if(!a.recurring && b.recurring) return 1
                
                if(moment(a.start).isBefore(b.start)) return 1
                else return -1
            })
            .map( (event) => Object.assign({}, event, {
                start: moment(event.start).format("dddd, Do MMM YYYY, HH:mm")
            }))
        }
    },
    methods: {
        open(eventId) {
            this.$emit('openEvent', eventId)
        }
    }
})
</script>
