<template>
    <form class="container" @submit.prevent="submit">
        <h3 v-if="!isNewEvent" class="text-truncate">{{ formData.title }}</h3>
        <h3 v-if="isNewEvent">Veranstaltung hinzufügen</h3>

        <div v-if="formData.isCrawled">
            <div class="alert alert-light" role="alert">
                Dies ist eine automatisch gesammelte Veranstaltung. Änderungen würden bei der nächsten Ausführung wieder überschrieben werden. Du kannst aber diese Veranstaltung vom <i>"crawlen"</i> ausschließen und anschließend bearbeiten.
                <hr>
                <div><button class="btn btn-primary btn-sm" @click.prevent="transform">Exkludieren & Umwandeln</button></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-3 col-form-label col-form-label-sm">Unique-ID</label>
            <div class="col-sm-9">
                <input v-model="idInput" type="text" class="form-control form-control-sm" id="id" required :disabled="formData.isCrawled">
                <small class="form-text text-muted">Nur Kleinbuchstaben, Zahlen und Unterstriche erlaubt</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Titel</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.title" type="text" class="form-control form-control-sm" id="title" placeholder="Der Titel der Veranstaltung..." required :disabled="formData.isCrawled">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Start</label>
            <div class="col-sm-9">
                <input v-model="startDate" id="start-date" type="date" required :disabled="formData.isCrawled" />
                <input v-model="startTime" id="start-time" type="time" required :disabled="formData.isCrawled" :step="60" />
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Ende</label>
            <div class="col-sm-9">
                <input v-model="endDate" id="end-date" type="date" required :disabled="formData.isCrawled" />
                <input v-model="endTime" id="end-time" type="time" required :disabled="formData.isCrawled" :step="60" />
            </div>
        </div>
        <div class="form-group row">
            <label for="locationName" class="col-sm-3 col-form-label col-form-label-sm">Ort</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.locationName" type="text" class="form-control form-control-sm" id="locationName" :disabled="formData.isCrawled">
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-3 col-form-label col-form-label-sm">Adresse</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.address" type="text" class="form-control form-control-sm" id="address" :disabled="formData.isCrawled">
            </div>
        </div>
        <div class="form-group row">
            <label for="link" class="col-sm-3 col-form-label col-form-label-sm">Link</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.link" type="text" class="form-control form-control-sm" id="link" placeholder="https://..." required :disabled="formData.isCrawled">
            </div>
        </div>

        <div class="form-group row">
            <label for="teaser" class="col-sm-3 col-form-label col-form-label-sm">Teaser</label>
            <div class="col-sm-9">
                <textarea v-model.trim="formData.teaser" class="form-control form-control-sm" id="teaser" placerholder="Kurzbeschreibung" :disabled="formData.isCrawled"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Wiederholen</label>
            <div class="col-sm-9">
                <div v-if="customRecurringRules">
                    <div class="alert alert-light" role="alert">Es sind besondere Wiederholungs-Regeln eingestellt. Diese können leider nicht über das Panel bearbeitet werden.</div>
                </div>
                <div v-if="!customRecurringRules">
                    <select v-model="recurringMeasure" :disabled="formData.isCrawled">
                        <option :value="null">Nein</option>
                        <option value="days">Alle X Tage</option>
                        <option value="weeks">Alle X Wochen</option>
                        <option value="months">Alle X Monate</option>
                        <option value="dayOfWeek">Am Tag X in jeder Woche</option>
                        <option value="dayOfMonth">Am Tag X in jedem Monat</option>
                    </select>
                    <select v-if="recurringMeasure && recurringMeasure != 'dayOfWeek'" v-model="recurringUnits">
                        <option v-for="n in maxRecurringUnits" :key="n">{{ n }}</option>
                    </select>
                    <select v-if="recurringMeasure == 'dayOfWeek'" v-model="recurringUnits">
                        <option value="1">Montag</option>
                        <option value="2">Dienstag</option>
                        <option value="3">Mittwoch</option>
                        <option value="4">Donnerstag</option>
                        <option value="5">Freitag</option>
                        <option value="6">Samstag</option>
                        <!-- <option value="0">Sonntag</option> TODO: doesn't work somehow :/ -->
                    </select>
                        
                    <div v-if="recurringDates.length">
                        <b>Wiederholende Termine</b>
                        <ul>
                            <li v-for="d in recurringDates" :key="d.date">
                                <span v-if="!d.isExcluded">{{ d.date }} {{ d.weekday }} <button @click.prevent="addException(d.date)" class="btn btn-sm btn-light" style="line-height:1">x</button></span>
                                <strike v-if="d.isExcluded">{{ d.date }} {{ d.weekday }} <button @click.prevent="removeException(d.date)" class="btn btn-sm btn-light"  style="line-height:1">+</button></strike>
                            </li>
                        </ul>
                    </div>
                    <div v-if="recurringError" class="alert alert-error" role="alert">Fehler bei der generierung von Wiederholungen: {{ recurringError }} </div>
                </div>
                <!-- <textarea v-model.trim="formData.teaser" class="form-control form-control-sm" id="teaser" placerholder="Kurzbeschreibung" :disabled="formData.isCrawled"></textarea> -->
            </div>
        </div>
        <div v-if="!formData.isCrawled" class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </form>
</template>
<script lang="ts">
// interface recurringRule {
//     units: number|number[],
//     measure: 'days'|'weeks'|'months'|'years'|'dayOfWeek'|'dayOfMonth'|'weekOfMonth'|'weekOfYear'|'monthOfYear'
// }

// interface recurringOptions {
//     rules: recurringRule|recurringRule[]
//     end?: moment.Moment,
//     exceptions?: moment.Moment[]
// }
import Vue from 'vue'
import moment from 'moment'
import 'moment-recur-ts'
import bFormInput from 'bootstrap-vue/es/components/form-input/form-input';
function blankEvent() {
    return {
        id: '',
        title: '',
        start: '',
        end: '',
        locationName: '',
        address: '',
        link: '',
        teaser: '',
        // description
        recurring: null,
        isCrawled: false
    }
}
export default Vue.extend({
    components: { bFormInput },
    props: {
        event: Object
    },
    data() {
        return {
            isNewEvent: true,
            formData: blankEvent(),
            recurringError: null
        }
    },
    computed: {
        customRecurringRules() {
            if(!this.formData.recurring || !this.formData.recurring.rules) return false
            if(this.formData.recurring.rules.length > 1) return true
            return false
        },
        recurringDates() {
            let start = this.formData.start
            let exceptionsList = this.formData.recurring && this.formData.recurring.exceptions ? this.formData.recurring.exceptions.map(a => moment(a).format("YYYY-MM-DD")): []
            this.recurringError = null
            if(!this.formData.recurring || !start) return []
            try {
                let recur = moment(start).recur({
                        start: start, 
                        end: this.formData.recurring.ennd || moment(start).add('1', 'year'),
                        rules: this.formData.recurring.rules
                })
                let dates = recur.next(10)
                dates.unshift(moment(start))
                return dates.map(date => {
                    return date.hours(moment(this.formData.start).hours()).local(true)
                })
                .map(d => {
                    let date = moment(d).format("YYYY-MM-DD") 
                    return {
                        date: moment(d).format("YYYY-MM-DD"),
                        weekday: moment(d).format("dddd"),
                        isExcluded: exceptionsList.indexOf(date) != -1
                    }
                })
            } catch(err) {
                this.recurringError = err.message
                return []
            }
        },
        maxRecurringUnits() {
            if(!this.formData.recurring || !this.formData.recurring.rules.length) return 999
            switch(this.formData.recurring.rules[0].measure) {
                case 'days':
                    return 90
                case 'weeks':
                    return 10
                case 'months':
                    return 12
                case 'dayOfMonth':
                    return 31
                default:
                    return 99

            }
        },
        idInput: {
            get: function() {
                return this.formData.id
            },
            set: function(value) {
                this.formData.id = value.trim().toLowerCase().replace(/[^a-z0-9_]*/g, '')
            }
        },
        recurringMeasure: {
            get() {
                if(!this.formData.recurring || !this.formData.recurring.rules || !this.formData.recurring.rules[0]) return null
                return this.formData.recurring.rules[0].measure
            },
            set(value) {
                if(value) {
                    if(!this.formData.recurring) this.formData.recurring = {
                        rules: [],
                        exceptions: [],
                        end: null
                    }
                    if(!this.formData.recurring.rules[0]) this.formData.recurring.rules.push({
                        units: 1,
                        measure: value,
                    })
                    else this.formData.recurring.rules[0].measure = value
                    
                } else {
                    this.formData.recurring = null
                }
            }
        },
        recurringUnits: {
            get() {
                if(!this.formData.recurring || !this.formData.recurring.rules || !this.formData.recurring.rules[0]) return null
                return this.formData.recurring.rules[0].units
            },
            set(val) {
                this.formData.recurring.rules[0].units = val
            }
        },

        startDate: {
            get: function() {
                return moment(this.formData.start).format("YYYY-MM-DD")
            },
            set: function(value) {
                let time = moment(this.formData.start)
                let newDate = moment(value, "YYYY-MM-DD")
                newDate.hour(time.hour())
                newDate.minute(time.minute())
                this.formData.start = newDate
                this.endDate = this.startDate
            }
        },
        startTime: {
            get: function() {
                return moment(this.formData.start).format("HH:mm")
            },
            set: function(value) {
                let date = moment(this.formData.start)
                let newTime = moment(value, "HH:mm")
                date.hour(newTime.hour())
                date.minute(newTime.minute())
                this.formData.start = date
            }
        },
        endDate: {
            get: function() {
                return moment(this.formData.end).format("YYYY-MM-DD")
            },
            set: function(value) {
                let time = moment(this.formData.end)
                let newDate = moment(value, "YYYY-MM-DD")
                newDate.hour(time.hour())
                newDate.minute(time.minute())
                this.formData.end = newDate
            }
        },
        endTime: {
            get: function() {
                return moment(this.formData.end).format("HH:mm")
            },
            set: function(value) {
                let date = moment(this.formData.end)
                let newTime = moment(value, "HH:mm")
                date.hour(newTime.hour())
                date.minute(newTime.minute())
                this.formData.end = date
            }
        },

    },
    watch: {
        event(newEvent) {
            if(!newEvent || !newEvent.id) {
                this.isNewEvent = true
                this.formData = blankEvent()
            } else {
                this.formData = Object.assign({}, newEvent)
                this.isNewEvent = false
            }
        },
    },
    methods: {
        addException(date) {
            this.formData.recurring.exceptions.push(date)
        },
        removeException(date) {
            let index = this.formData.recurring.exceptions.map(e => moment(e).format('YYYY-MM-DD')).indexOf(date)
            this.formData.recurring.exceptions.splice(index, 1)
        },
        submit() {
            console.log('submit!')
            this.$emit('submit', this.formData)
        },
        transform() {
            this.$emit('transformAndExclude', this.formData.id)
        }
    },
    

})
</script>
