<template>
    <form class="container" @submit.prevent="submit">
        <h3 v-if="isNewGroup">Gruppe hinzufügen</h3>
        <h3 v-if="!isNewGroup">Gruppe bearbeiten</h3>
        <div class="form-group row">
            <label for="key" class="col-sm-3 col-form-label col-form-label-sm">Ordnername</label>
            <div class="col-sm-9">
                <input v-model="keyInput" type="text" class="form-control form-control-sm" id="key" required :disabled="!isNewGroup">
                <small class="form-text text-muted">Nur Kleinbuchstaben, Zahlen und Unterstriche erlaubt</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Name</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.name" type="text" class="form-control form-control-sm" id="name" placeholder="Der Name der Gruppe..." required>
            </div>
        </div>
        <div class="form-group row">
            <label for="website" class="col-sm-3 col-form-label col-form-label-sm">Website</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.website" type="text" class="form-control form-control-sm" id="website" placeholder="https://example.com" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="website" class="col-sm-3 col-form-label col-form-label-sm">E-Mail</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.email" type="email" class="form-control form-control-sm" id="website" placeholder="kontakt@blabla.de" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-3 col-form-label col-form-label-sm">Adresse</label>
            <div class="col-sm-9">
                <input v-model.trim="formData.address" type="text" class="form-control form-control-sm" id="address" placeholder="Beispielstraße 5, 04103 Leipzig">
            </div>
        </div>
        <!-- <div class="form-group row">
            <label for="address" class="col-sm-3 col-form-label col-form-label-sm">Logo</label>
            <div class="col-sm-9">
                [logo upload]
                <input type="text" class="form-control form-control-sm" id="address" placeholder="Beispielstraße 5, 04103 Leipzig">
            </div>
        </div> -->
        <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label col-form-label-sm">Beschreibung</label>
            <div class="col-sm-9">
                <textarea v-model.trim="formData.description" class="form-control form-control-sm" id="description"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="autocrawl" class="col-sm-3 col-form-label col-form-label-sm">Autocrawl</label>
            <div class="col-sm-9">
                <select id="autocrawl" v-model="formData.autocrawl.source">
                    <option :value="null">Deaktiviert</option>
                    <option value="facebook">Facebook Seite</option>
                </select>
                <p />
                <div v-if="formData.autocrawl && formData.autocrawl.source == 'facebook'" class="form-group">
                    <label for="page_id">Facebook-Seiten-ID <a v-if="formData.autocrawl.options.page_id" :href="`https://www.facebook.com/${formData.autocrawl.options.page_id}`" target="_blank">&#128279;</a></label>
                    <input v-model="formData.autocrawl.options.page_id" type="text" class="form-control form-control-sm" id="address" placeholder="z.B. 12345678901" required>

                </div>
                <div v-if="formData.autocrawl && formData.autocrawl.source">
                    <div class="form-group">
                        <label for="excludeInput">Gefilterte Event-ID's</label>
                        <ul v-if="this.formData.autocrawl.exclude.length">
                            <li v-for="id in this.formData.autocrawl.exclude" :key="id">
                                {{ id }}
                                <a v-if="formData.autocrawl.source == 'facebook'" :href="`https://www.facebook.com/events/${id}`" target="_blank">&#128279;</a>
                                <button @click.prevent="removeExclude(id)" class="btn btn-sm btn-light" style="line-height:1">x</button>
                            </li>
                        </ul>
                        <div v-if="!this.formData.autocrawl.exclude || !this.formData.autocrawl.exclude.length" class="ml-2">
                            <i>bisher keine Events ausgeschlossen</i>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <input v-model="excludeInput" type="text" id="excludeInput" class="ml-2 form-control form-control-sm" placeholder="diese ID ausschließen..."/>
                            </div>
                            <div class="col">
                                <button @click.prevent="addExclude" class="btn btn-sm btn-secondary">+</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </form>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: {
        group: Object
    },
    data() {
        return {
            isNewGroup: true,
            formData: {
                key: '',
                website: '',
                email: '',
                address: '',
                page_id: '',
                logo: '',
                autocrawl: {
                    source: false,
                    options: {},
                    exclude: [],
                    filter: {}
                }
            },
            excludeInput: ''
        }
    },
    computed: {
        keyInput: {
            get: function() {
                return this.formData.key
            },
            set: function(value) {
                this.formData.key = value.trim().toLowerCase().replace(/[^a-z0-9_]*/g, '')
            }
        },
    },
    watch: {
        group(newGroup, oldGroup) {
            if(!oldGroup) oldGroup = {key: null}
            if(!newGroup) newGroup = {key: null}
            if(newGroup.key === oldGroup.key) return
    
            if(!newGroup.key) {
                this.isNewGroup = true
                this.formData = {
                    key: '',
                    website: '',
                    email: '',
                    address: '',
                    page_id: '',
                    logo: '',
                    autocrawl: {
                        source: null,
                        options: {},
                        exclude: [],
                        filter: {}
                    }
                }
            } else {
                this.formData = Object.assign({}, newGroup)
                if(!this.formData.autocrawl) this.formData.autocrawl = {source: null}
                if(!this.formData.autocrawl.exclude) this.formData.autocrawl.exclude = []
                if(!this.formData.autocrawl.options) this.formData.autocrawl.options = {}
                this.isNewGroup = false
            }
        },
    },
    methods: {
        addExclude() {
            if(!this.excludeInput) return
            if(!this.formData.autocrawl.exclude) this.formData.autocrawl.exclude = []
            this.formData.autocrawl.exclude.push(this.excludeInput.trim())
            this.excludeInput = ''
        },
        removeExclude(val) {
            let index = this.formData.autocrawl.exclude.indexOf(val)
            this.formData.autocrawl.exclude.splice(index, 1)
        },
        submit() {
            console.log('submit!')
            this.$emit('submit', this.formData)
        }
    },
    

})
</script>
