<template>
    <div>
        <h4 class="container pt-1">Gruppen <button class="btn btn-sm btn-success" @click="open(null)">+</button></h4>
        <div class="container"><i>Aktueller Branch: {{ branch }}</i></div>
        <div class="list-group">

            <a v-for="group in groups" :key="group.key" class="list-group-item list-group-item-action" @click="open(group.key)">
                {{ group.name }}
            </a>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: {
        branch: String,
        groups: Array
    },
    methods: {
        open(key) {
            this.$emit('openGroup', key)
        }
    }
})
</script>
