<!DOCTYPE html>
<html lang="de">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="veranstaltungen für den wandel in leipzig">
    <meta name="keywords" content="Veranstaltungen,Leipzig,Workshops,Vorträge,Upcycle,Nachhaltigkeit,Aktivismus">

    <meta property="og:image" content="https://trichter.cc/logo_share.png"/>
    <meta property="og:title" content="trichter.cc"/>
    <meta property="og:description" content="veranstaltungen für den wandel in leipzig"/>
    <meta property="og:url" content="https://trichter.cc/"/>
    <meta property="og:site_name" content="trichter.cc"/>
    <meta property="og:type" content="website"/>

    {# {% include 'partials/metadata.html.twig' %} #}
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="icon" type="image/svg+xml" href="favicon.svg"/>
    {# <link rel="canonical" href="{{ page.url(true, true) }}" /> #}
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">

    
{% endblock head %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
