
<div class="columns entry">
    <div class="col-2 col-xs-4 col-md-3 times">
        <div>
            <div class="times-content">
                {{ event.start|time }}
                {% if event.end %}
                    <small>- {{ event.end|time }}</small>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-10 col-xs-8 col-md-9 content">
        <div class="icons">
            {% if event.isCrawled %}
                <i class="fa fa-magic tooltip" data-tooltip="Dieser Eintrag wurde automatisiert erstellt.
Fehler sind sehr warscheinlich"></i>
            {% else %}
                {# TODO: link to panel  #}
                {# <a href="{{ event.editLink }}" class="btn btn-sm hover"><i class="fa fa-pencil tooltip" data-tooltip="bearbeiten"></i></a> #}
            {% endif %}
            
        </div>
        <h4 class="text-ellipsis">
            <a href="{{ event.link }}">{{ event.title }}</a>
        </h4>
        {% if event.teaser %}
            <p class="text-ellipsis teaser">
                {{ event.teaser }}
            </p>
        {% endif %}
        <div class="location">
        {% for group in event.groups %}
            {% if group.website %}
                <strong><a href="{{ group.website }}">{{ group.name }}</a></strong>{% if not loop.last %}, {% endif %}
            {% else %}
                <strong>{{ group.name }}</strong>{% if not loop.last %}, {% endif %}
            {% endif %}
            
        {% endfor %}
        {% if event.locationName or event.address %}
                <i class="fa fa-map-marker"></i>
                {% if event.locationName and event.locationName != event.groups[0].name and event.locationName != event.address %}
                    {{ event.locationName }},
                {% endif %}
                <span>{{ event.address|tidyUpAddress }}</span>    
        {% endif %}
        </div> 
        {% if not loop.last %} <div class="seperator"></div> {% endif %}
    </div>
</div>
