{% extends "base.twig" %}
{% block content %}
<div class="container grid-md">
    <div id="header">
        <img src="logo_white.svg" />
    </div>
  <div class="columns">
    <div class="column col-9 col-md-12">
            {% for day in days if eventsByDays[day]|length > 0 %} 
                <div class="day">
                    
                    <div class="header columns">
                        <div class="col-2"></div>
                        <div class="col-10">
                            {% if day|isToday %}
                                <strong>heute</strong> <small>{{ day|dayName }}, {{ day|date('d.m.')}}</small>
                            {% elseif day|isTomorrow %}
                                <strong>morgen</strong> <small>{{ day|dayName }}, {{ day|date('d.m.')}}</small>
                            {% else %}
                                <strong>{{ day|dayName }} </strong> <small>{{ day|date('d.m.')}}</small>
                            {% endif %}
                        </div>
                    </div>
                        
                    <ul>        
                        {% for event in eventsByDays[day] %}
                            <li>{% include "list-element.twig" %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        <div class="header columns">
            <div class="column col-9"></div>
        </div>
    </div>
    <div class="column col-3 col-md-12">
        <div class="infobox">
            <div class="content">
                <a href="#info">über trichter</a>.</br> 
                <a href="/panel/">eintragen</a>. </br>
                <a href="https://gitlab.com/trichter">open source</a>. </br>
                {# <a href="#impressum">impressum</a>. </br> #}
                <a href="#kontakt">kontakt</a>.</br>
                <small>made with <span style="color: #dd3333">♥</span> </small>
            </div>
        </div>      
    </div>
  </div>
</div>
{% include "modal.info.twig" %}
{% include "modal.contact.twig" %}
{# {% include "impressum.twig" %} #}
{% endblock %}
