<div class="modal" id="info"><a class="modal-overlay" href="#modals" aria-label="schließen"></a>
    <div class="modal-container" role="document">
    <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="schließen"></a>
        <div class="modal-title h5">über trichter.</div>
    </div>
    <div class="modal-body">
        <div class="content">
<p><b>Der <i>trichter</i> ist ein unkommerzieller Online-Veranstaltungskalender für Leipzig und Umgebung.</b> </p>
<p>Ziel ist es, den Menschen <b>eine freie Platform der Vernetzung</b> in die Hand zu geben und damit die derzeit bestehende Abhängigkeit zu Facebook abzubauen. </p>
<p>Es ist stark nach dem Vorbild <a href="https://tacker.fr/">tacker.fr</a> aus Freiburg entstanden, hat aber darüber hinaus keine Verbindung.</p>
<p>Die <b>Inhalte werden</b> teilweise <b>maschinell</b> aus öffentlich zugänglichen Quellen zusammen gesammelt, wodurch sich Fehler ergeben können – gerade bei nachträglichen Änderungen/Absagen. Prüft also gern die Infomationen gegen, bevor du bei einer abgesagten Veranstaltung auftauchst! :)</p>

<h5>Kriterien für Veranstaltungen</h5>
<ul>
    <li>unkommerziell</li>
    <li>politsch</li>
    <li>geldfrei besuchbar (Spendenbasis ist okay!)</li>
</ul>

        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-link" href="#modals">schließen</a>
    </div>
    </div>
</div>