<div class="modal" id="kontakt"><a class="modal-overlay" href="#modals" aria-label="schließen"></a>
    <div class="modal-container" role="document">
    <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="schließen"></a>
        <div class="modal-title h5">kontakt.</div>
    </div>
    <div class="modal-body">
        <div class="content">
<p>
Meldet euch gerne bei allen Belangen hier: <a href="mailto:kontakt@trichter.cc">kontakt@trichter.cc</a>
<br />
PGP-Schlüssel für E-Mail-Verschlüsselung: <a href="0x7997E5BC4E71B2C9.asc">7997 E5BC 4E71 B2C9</a>
</p>

        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-link" href="#modals">schließen</a>
    </div>
    </div>
</div>